.personal-info-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container {
    border: 2px solid red;
    width: 40vw;
    height: 60vh;
}
.info-icon {
    position: relative;
    left: 20px;
}
.small {
    width: 150px;
}
.large {
    width: 300px;
}