*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  border: 3px solid #6777bb;
  padding: 15px;
  border-radius: 25px;
}

.personal-info-heading {
  text-align: start;
}
.input-field-icons {
    position: relative;
    left: 25px;

}
.global-icon {
    position: relative;
    top: 43px;
    left: 25px;
}
.input-fields , .select {
  padding: 10px 10px 10px 30px;
  margin: 10px 0px;
  font-size: 1.2rem;
  border-radius: 6px;
  background-color:#f0f0f0;
  outline: none;
  width: 450px;
  border: 1px solid #6270b1;
}

.input-fields:hover, .PhoneInputCountrySelect:hover {
  background-color: #ebe6e6;
}
.first-name-input , .last-name-input, .cnic-input, .date-input, .select{
  width: 200px;
}

/* Css for number input */

.PhoneInput {
    display: flex;
    margin-left: 15px;
    
}

/*          it is inner div in phoneinput     */
.PhoneInputCountry {
 display: flex;
}
.PhoneInputCountrySelect {
    width: 100px;
    border: none;
    font-size: 1.2rem;
    border-radius: 6px;
    background-color: #f0f0f0;
    outline: none;

}
.PhoneInputCountryIconImg {
    width: 20px;
}
.PhoneInputCountrySelectArrow {
    display: none;
}
.PhoneInputInput {
    margin-left: 5px;
    border: none;
    font-size: 1.2rem;
    border-radius: 6px;
    background-color: #f0f0f0;
    outline: none;
    height: 100%;
    width: 100%;
}

/*      DropDown         */
.select {
    width: 240px;
  }
  
  .option {
    text-transform: capitalize;
  }


