


.input-field-icons {
    position: relative;
    left: 25px;

}

.input-fields {
  padding: 10px 10px 10px 30px;
  margin: 10px 0px;
  font-size: 1.2rem;
  border-radius: 6px;
  background-color:#f0f0f0;
  outline: none;
  width: 450px;
  border: 1px solid #6270b1;
}

.input-fields:hover, .PhoneInputCountrySelect:hover {
  background-color: #ebe6e6;
}
.first-name-input , .last-name-input, .cnic-input, .date-input {
  width: 200px;
}






