.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 5px;
    border-radius: 20px;
    height: 15px;
    width: 500px;
    position: absolute;
    top: 3px;
}
#danger {
    background-color: #f44336;
}
#success {
    background-color: #04AA6D;
}

#info {
    background-color: #2196F3;
}

#warning {
    background-color: #ff9800;
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}